[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
requests = "*"
rsa = "*"
pycryptodome = "*"
pycryptodomex = "*"
twilio = "*"
cryptography = "*"
urllib3 = "==1.25.9"
python-dotenv = "*"
Flask-Cors = "*"
PyMySQL = "*"
gunicorn = "*"
psycopg2-binary = "*"
uwsgi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
